<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncUsageAnalyzers" version="1.0.0-alpha003" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Graph" version="1.12.0" targetFramework="net472" />
  <package id="Microsoft.Graph.Core" version="1.12.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="1.1.4-preview0002" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net472" />
</packages>